{% if objects %}
    <div class="article">
        {% if title %}
        <strong class="article__heading{% if left %} article__heading--align-left{% endif %}">
            {% if link %}<a href="{{ link }}">{% endif %}{{ title }}{% if link %}</a>{% endif %}
        </strong>
        {% endif %}
        <div class="article__content">
            <ul class="games-list no-scroll">
                {% for obj in objects %}
                    {% include 'catalog/inclusions/_include_game_list.html' with game=game %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}